@using Umbraco.Web.Media
@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


<div>
    @{
        var selection = CurrentPage.Site().FirstChild("BlogPage").Children("blogItem").Where("Visible");
    }
    @foreach (var item in selection)
    {

        //try this maybe->   var props = Umbraco.Core.Models.IPublishedProperty[3];



        <div style="width: 30%; display: inline-block; margin-top: 3vh; background: rgba(255,255,255,0.2)">

            @{
                var itemImage = item.GetPropertyValue<IPublishedContent>("blogItemImage");
                var ImageUrl = "";
                if (itemImage != null)
                {
                    ImageUrl = itemImage.url;
                }
            }

            <div style="width: 100%; height: 200px">
                <img src="@ImageUrl" style="width: 100%;">
                <h3>@item.Name</h3>
            </div>

            <div style="width: 100%;">
                the article text
            </div>

            <div>
                <a href="@item.Url">@item.Name</a>
            </div>

        </div>
    }
</div>
