@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}


<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
 <title></title>
 <meta name="description" content="">
 <meta name="author" content="">

 <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700,600' rel='stylesheet' type='text/css'>
 <link href='//fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
 

 <link rel="stylesheet" href="../../Umbraco/assets/css/nonodes.style.min.css" />

 <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
 <![endif]-->

</head>
<body>
<style>
    ul > li {
        margin-left: 4vw;
        text-align: left;
    }
</style>
<section>
    <article>
        <div>
            <div class="logo"></div>
            
            <h1>@Umbraco.Field("promoTitle")</h1>
                
            <p style="text-align: left">@Umbraco.Field("promoSubTitle")</p>

            <div class="cta">
                <a href="<%= IOHelper.ResolveUrl(SystemDirectories.Umbraco) %>" class="button">@Umbraco.Field("promoButtonText")</a>
            </div>

        </div>
    </article>

</section>

<script src="//code.jquery.com/jquery-latest.min.js"></script>

</body>
</html>