@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}



<section>
    <article>
        <div>
            <div class="logo"></div>

            <h1>@Umbraco.Field("title")</h1>

            <div>
                @Umbraco.Field("bodyText")
            </div>
            
            <div style="margin-top: 10vh">
                <h5>"@Umbraco.Field("quote")" <i>Brad</i> </h5>
            </div>
        </div>
    </article>
</section>
