<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT blogItem ANY>
<!ATTLIST blogItem id ID #REQUIRED>
<!ELEMENT BlogPage ANY>
<!ATTLIST BlogPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1052" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-06-27T11:57:48" updateDate="2018-06-27T11:58:26" nodeName="Welcome" urlName="welcome" path="-1,1052" isDoc="" nodeType="1048" creatorName="scratch" writerName="scratch" writerID="0" template="1047" nodeTypeAlias="HomePage">
    <promoTitle><![CDATA[Welcome to my umbraco scratch test]]></promoTitle>
    <promoSubtitle><![CDATA[<p>The username and password for the back end is scratch@test.com : test</p>]]></promoSubtitle>
    <promoButtonText><![CDATA[Let's break stuff!]]></promoButtonText>
    <TextPage id="1054" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2018-06-27T12:16:11" updateDate="2018-06-27T12:17:55" nodeName="About Us" urlName="about-us" path="-1,1052,1054" isDoc="" nodeType="1051" creatorName="scratch" writerName="scratch" writerID="0" template="1050" nodeTypeAlias="TextPage">
      <title><![CDATA[About Us]]></title>
      <bodyText><![CDATA[<p>I'm a single developer there is no <strong>us</strong> lol.</p>
<p>Im just playing around with an old version of Umbraco before taking over an existing website from a client.</p>
<p>Im currently using v7.2.8 and there are many differences from what the tutorial videos and documentations based of more current version but it's still mostly the same and still easy to follow.</p>
<p>Please check out any content I have added to this repository.</p>
<p>Being a php programmer I deviated a lot on my tutorial adventure trying to understand the internal workings of the Umbraco CMS and have discovered some things that other might find useful...</p>]]></bodyText>
      <quote><![CDATA[Doing, is the best way to learn.]]></quote>
      <quotedPerson><![CDATA[Brad H.]]></quotedPerson>
    </TextPage>
    <BlogPage id="1070" parentID="1052" level="2" creatorID="0" sortOrder="1" createDate="2018-06-27T14:46:51" updateDate="2018-06-27T14:53:33" nodeName="1up Blog" urlName="1up-blog" path="-1,1052,1070" isDoc="" nodeType="1069" creatorName="scratch" writerName="scratch" writerID="0" template="1068" nodeTypeAlias="BlogPage">
      <blogTitle><![CDATA[Discoveries made during my Umbraco Adventure]]></blogTitle>
      <blogAboutText><![CDATA[<p>Coming from a PHP programming background where I build entire web applications, systems, and small frameworks from scratch I really felt the need to understand some of the inner workings of Umbraco.</p>
<p>I was just following the basic tutorial but I often deviated from the path because I wanted to know what Umbraco was doing with files and databases.</p>
<p>As such, I discovered a couple of things on the way that might be helpful to others.</p>]]></blogAboutText>
      <blogImage>1061</blogImage>
      <blogItem id="1071" parentID="1070" level="3" creatorID="0" sortOrder="0" createDate="2018-06-27T15:10:46" updateDate="2018-06-27T18:45:06" nodeName="Umbraco Basics" urlName="umbraco-basics" path="-1,1052,1070,1071" isDoc="" nodeType="1059" creatorName="scratch" writerName="scratch" writerID="0" template="1058" nodeTypeAlias="blogItem">
        <blogItemImage>1062</blogItemImage>
        <blogItemTeaser><![CDATA[Just some of the basics of Umbraco]]></blogItemTeaser>
        <blogItemBody><![CDATA[<p>Hello and welcome to the first piece of content created with the new template!</p>
<p> What I've learned so far:</p>
<ul>
<li> Document Types
<ul>
<li>Essentially they are data structures (I'm guessing represented by generate class object maybe???) with properties.</li>
<li>Properties are data types that represent fields for content creators to fill out.
<ul>
<li>These fields are represented by modules such as rich text editors, image sources etc as form elements for content creators to fill out in the back end.</li>
<li>They determine the structure of content to be output with an associated template</li>
</ul>
</li>
<li>Note: Tabs in document types are not tabs in html they're just for organizing the data entry UI into organised tabs to make it easier for content creators.</li>
</ul>
</li>
<li>Templates
<ul>
<li>cshtml files that make use of the Document type data structure filled out by content creators.</li>
<li>HTML and razor c# injections. ( can be used with web forms to but that isn't covered in the umbraco documentation since it's depreciated.)</li>
</ul>
</li>
<li>Content
<ul>
<li>Your reading it now. :P</li>
</ul>
</li>
<li>CSS and Script files.
<ul>
<li>Copying files into the css and js folders etc in the project root will make them appear in umbraco settings.
<ul>
<li>But only when done via visual studio. (in this version) Files wernt shoing up if just copied in explorer.</li>
<li>But in the tutorials for the current umbraco version just copying files across worked completely fine.</li>
</ul>
</li>
</ul>
</li>
</ul>
<p> </p>]]></blogItemBody>
      </blogItem>
      <blogItem id="1073" parentID="1070" level="3" creatorID="0" sortOrder="1" createDate="2018-06-27T15:21:05" updateDate="2018-06-27T15:21:05" nodeName="Database Configurations" urlName="database-configurations" path="-1,1052,1070,1073" isDoc="" nodeType="1059" creatorName="scratch" writerName="scratch" writerID="0" template="1058" nodeTypeAlias="blogItem">
        <blogItemImage>1072</blogItemImage>
        <blogItemTeaser><![CDATA[Watch Umbraco database changes in Visual Studio]]></blogItemTeaser>
        <blogItemBody><![CDATA[<p>talk about the database setups you went through </p>]]></blogItemBody>
      </blogItem>
      <blogItem id="1075" parentID="1070" level="3" creatorID="0" sortOrder="2" createDate="2018-06-27T15:26:42" updateDate="2018-06-27T15:26:42" nodeName="File Structure" urlName="file-structure" path="-1,1052,1070,1075" isDoc="" nodeType="1059" creatorName="scratch" writerName="scratch" writerID="0" template="1058" nodeTypeAlias="blogItem">
        <blogItemImage>1074</blogItemImage>
        <blogItemTeaser><![CDATA[File structure migrating repositories and reinstalling Umbraco]]></blogItemTeaser>
        <blogItemBody><![CDATA[<p>talk about what happened when reinstalling.</p>
<p>the templates master templates etc</p>
<p>adding scripts and css to vs project vs just copying files over</p>
<p>exporting datatypes to UDT files</p>]]></blogItemBody>
      </blogItem>
    </BlogPage>
  </HomePage>
</root>