<?xml version="1.0" encoding="utf-16"?>
<!DOCTYPE root [<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>
 
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1049" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-06-26T19:32:38" updateDate="2018-06-26T20:56:10" nodeName="Welcome" urlName="welcome" path="-1,1049" isDoc="" nodeType="1048" creatorName="Bradley Hayes" writerName="Bradley Hayes" writerID="0" template="1047" nodeTypeAlias="HomePage">
    <promoSubtitle><![CDATA[<p>Hello and welcome to the first piece of content created with the <strong>new </strong> template!</p>
<p> </p>
<p>What I've learned so far:</p>
<p> </p>
<ul>
<li>Document Types
<ul>
<li>Essentially they are data structures (I'm guessing represented by generate class object maybe???) with properties.</li>
<li>Properties are data types that represent fields for content creators to fill out.
<ul>
<li>These fields are represented by modules such as rich text editors, image sources etc as form elements for content creators to fill out in the back end.</li>
</ul>
</li>
<li>They determine the structure of content to be output with an associated template</li>
<li>Note: Tabs in document types are not tabs in html they're just for organizing the data entry UI into organised tabs to make it easier for content creators.</li>
</ul>
</li>
<li>Templates
<ul>
<li>cshtml files that make use of the Document type data structure filled out by content creators.</li>
<li>HTML and razor c# injections. ( can be used with web forms to but that isn't covered in the umbraco documentation since it's depreciated.)</li>
</ul>
</li>
<li>Content
<ul>
<li>Your reading it now. :P</li>
</ul>
</li>
<li>CSS and Script files.
<ul>
<li>Copying files into the css and js folders etc in the project root will make them appear in umbraco settings.
<ul>
<li>But only when done via visual studio.
<ul>
<li>Tried just copying the files in explorer and they wouldnt show up..</li>
<li>But in the tutorials for the current umbraco version just copying files across worked completely fine.</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>]]></promoSubtitle>
    <promoTitle><![CDATA[Welcome to  the first content created]]></promoTitle>
    <promoButtonText><![CDATA[Click me now!]]></promoButtonText>
    <TextPage id="1055" parentID="1049" level="2" creatorID="0" sortOrder="0" createDate="2018-06-26T21:56:41" updateDate="2018-06-26T21:56:41" nodeName="About Us" urlName="about-us" path="-1,1049,1055" isDoc="" nodeType="1054" creatorName="Bradley Hayes" writerName="Bradley Hayes" writerID="0" template="1053" nodeTypeAlias="TextPage">
      <title><![CDATA[There is no spoon!]]></title>
      <bodyText><![CDATA[<p>Actually just a single devloper there is no <strong>us </strong> lol.</p>
<p>Just playing with Umbraco testing the differences with versions and tracking database / file changes to see how the CMS is working.</p>
<p>Currently using v7.2.8 witch has quite a lot of variance from the more current versions used in the tutorials and the documentation available.</p>]]></bodyText>
      <quote><![CDATA[Doing, is the best way to learn.]]></quote>
    </TextPage>
  </HomePage>
</root>