<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1052" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-06-27T11:57:48" updateDate="2018-06-27T11:58:26" nodeName="Welcome" urlName="welcome" path="-1,1052" isDoc="" nodeType="1048" creatorName="scratch" writerName="scratch" writerID="0" template="1047" nodeTypeAlias="HomePage">
    <promoTitle><![CDATA[Welcome to my umbraco scratch test]]></promoTitle>
    <promoSubtitle><![CDATA[<p>The username and password for the back end is scratch@test.com : test</p>]]></promoSubtitle>
    <promoButtonText><![CDATA[Let's break stuff!]]></promoButtonText>
    <TextPage id="1054" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2018-06-27T12:16:11" updateDate="2018-06-27T12:17:55" nodeName="About Us" urlName="about-us" path="-1,1052,1054" isDoc="" nodeType="1051" creatorName="scratch" writerName="scratch" writerID="0" template="1050" nodeTypeAlias="TextPage">
      <title><![CDATA[About Us]]></title>
      <bodyText><![CDATA[<p>I'm a single developer there is no <strong>us</strong> lol.</p>
<p>Im just playing around with an old version of Umbraco before taking over an existing website from a client.</p>
<p>Im currently using v7.2.8 and there are many differences from what the tutorial videos and documentations based of more current version but it's still mostly the same and still easy to follow.</p>
<p>Please check out any content I have added to this repository.</p>
<p>Being a php programmer I deviated a lot on my tutorial adventure trying to understand the internal workings of the Umbraco CMS and have discovered some things that other might find useful...</p>]]></bodyText>
      <quote><![CDATA[Doing, is the best way to learn.]]></quote>
      <quotedPerson><![CDATA[Brad H.]]></quotedPerson>
    </TextPage>
  </HomePage>
</root>