<?xml version="1.0" encoding="utf-16"?>
<!DOCTYPE root [<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
 

]>
<root id="-1">
  <HomePage id="1049" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-06-26T19:32:38" updateDate="2018-06-26T19:32:54" nodeName="Welcome" urlName="welcome" path="-1,1049" isDoc="" nodeType="1048" creatorName="Bradley Hayes" writerName="Bradley Hayes" writerID="0" template="1047" nodeTypeAlias="HomePage">
    <bodyText><![CDATA[<p>Hello and welcome to the first piece of content created with the <strong>new </strong> template!</p>
<p>What I've learned so far:</p>
<ul>
<li>Document Types
<ul>
<li>Essentially they are data structures (I'm guessing represented by generate class object maybe???) with properties.</li>
<li>Properties are data types that represent fields for content creators to fill out.
<ul>
<li>These fields are represented by modules such as rich text editors, image sources etc as form elements for content creators to fill out in the back end.</li>
</ul>
</li>
<li>They determine the structure of content to be output with an associated template</li>
<li>Note: Tabs in document types are not tabs in html they're just for organizing the data entry UI into organised tabs to make it easier for content creators.</li>
</ul>
</li>
<li>Templates
<ul>
<li>cshtml files that make use of the Document type data structure filled out by content creators.</li>
<li>HTML and razor c# injections. ( can be used with web forms to but that isn't covered in the umbraco documentation since it's depreciated.)</li>
</ul>
</li>
<li>Content
<ul>
<li>Your reading it now. :P</li>
</ul>
</li>
</ul>]]></bodyText>
    <mainHeading><![CDATA[Welcome tot eh first page created]]></mainHeading>
  </HomePage>
</root>